@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Roboto+Slab&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0 auto;    
}

h2 {
    font-family: 'Aref Ruqaa Ink', serif;
}

p {
    font-family: 'Roboto Slab', serif;
}

/****************************** HEADER STYLES */
.navigation-container {
    width: 100vw;
    height: 100%;
    margin: 0 auto;
}

.navigation-bar {
    background-color: #181520;
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar h1 {
    float: left;
    background-color: #0412BF;
    border-radius: 5px;
    font-family: 'UnifrakturMaguntia', cursive
}

.navigation-bar ul {
    padding: 0;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
}

.navigation-bar li {
    display: inline;
    font-family: 'Aref Ruqaa Ink', serif;
    font-size: larger;
    width: 8rem;
    padding: 5px;
    background-color: #870000;
    border-radius: 5px;
}

.navigation-bar a {
    text-decoration: none;
    color: #DD0000;
}

/****************************** BANNER */
.banner {
    display: flex;
    align-items: center;
    background-color: #000;
}

/****************************** ABOUT SECTION */
.about-section {
    /* display: flex; */
    background-color: #3A3741;
    padding: 5em 10em;
}

.about-section h2, .about-section p {
    color: white;
}

/****************************** GALLERY SECTION */
.gallery-section {
    width: 100%;
    background: rgb(203, 203, 203);
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

.slides img {
    vertical-align: middle;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0,0,.8);
}

.grey-dots {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Animation for Image */
.fade {
    animation-name: fade;
    animation-duration: 1.4s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/****************************** CONTACT SECTION */
.contact-section {
    background-color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3em 0 10em 0;
}

.contact-section h2, .contact-section p {
    color: white;
}

/****************************** FOOTER */
footer {
    background-color: #181520;
    width: 100%;
    padding: 25px 0;
}

footer p {
    color: white;
    text-align: center;
}